:root{
    --blue: blueviolet;
    --Colour-Logo-Primary: #37447E;
    --Colour-Main-Blue-500: #505F98;
    --colour-secondary-white-100-general: #FFF;
    --Colour-Main-Blue-800: #111B47;
    --Colour-Main-Blue-900: #091133;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: .8;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
/* ========Navbar code start======== */
nav{
    padding: 18px 0;
    background-color: transparent;
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}
.nav_menu ul li a{
    color: var(--Colour-Main-Blue-500);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;

}
.nav_logo{
    color: var(--Colour-Logo-Primary, #37447E);
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px; /* 146.154% */
}

.nav_button button{
    color: var(--colour-secondary-white-100-general, #FFF);
    padding:6px 28px;
    background: var(--Colour-Main-Blue-800, #111B47);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    border: 1px solid transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear .3s;
}
.nav_button button:hover{
    background-color: transparent;
    border: 1px solid var(--Colour-Main-Blue-800);
    color: var(--Colour-Main-Blue-800);

}
/* ========Navbar code start======== */

/* ========Banner code start======== */
#Banner{
    padding: 250px 0;
}
.banner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.ban_content{
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
    position: absolute;
    top: 0;

}
.ban_content h1{
    color: var(--Colour-Main-Blue-900, #091133);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
}
.ban_content p{
    color: var(--Colour-Main-Blue-500, #505F98);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.ban_btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.ban_btns .nav_button.active{
    background-color: transparent;
    color: var(--Colour-Main-Blue-800);
}
.ban_img{
    width: 510px;
}
.ban_image .img1{
    width: 50%;
    height: 500px;
    object-fit: cover;
    position: absolute;
    right: 0 ;
    top: -20px;
}
.ban_image .img1 img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ban_img .second {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 100px;
    z-index: -1;
}
/* ========Banner code start======== */

/* ========Navbar code start======== */
/* ========Navbar code start======== */

/* ========Navbar code start======== */
/* ========Navbar code start======== */

/* ========Navbar code start======== */
/* ========Navbar code start======== */

/* ========Navbar code start======== */
/* ========Navbar code start======== */